In [1]:
import sys

import pandas as pd

sys.path.append('/Users/samrelins/Documents/LIDA/dental_project/src/')

from edrecs_context_data_prep import *

In [2]:
data_dir = "/Users/samrelins/Documents/LIDA/dental_project/data/"
context_train, context_test = prep_context_ga_data(data_dir)

In [5]:
context_train.pipe(convert_context_numerical_categories)

,entity_id,has_edrecs_context,edcont_academicyear,edcont_actermbirth,edcont_eal,edcont_ethnic_origin,edcont_fsm,edcont_g_t,edcont_gender,edcont_lac,edcont_sen,has_edcont,has_dental_ga
9171,B1176932,1,2012,spring,yes,pakistani,no,no,male,no,not_sen,1,0.0
8689,B1261775,1,2013,summer,no,pakistani,no,no,male,no,not_sen,1,0.0
7594,B1257484,1,2015,spring,yes,pakistani,no,no,male,no,not_sen,1,0.0
9947,B1186303,1,2013,summer,no,pakistani,yes,no,male,no,echp,1,0.0
9265,B1157007,1,2012,spring,no,white_british,yes,no,male,no,not_sen,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10482,B1191832,1,2014,autumn,yes,pakistani,no,no,male,no,not_sen,1,0.0
2436,B1243583,1,2015,autumn,no,pakistani,no,no,female,no,not_sen,1,0.0
8365,B1260470,1,2012,spring,unknown,pakistani,no,no,male,no,not_sen,1,0.0
10243,B1168764,1,2013,autumn,no,white_british,no,no,female,no,not_sen,1,0.0
2049,B1239037,1,2015,autumn,yes,pakistani,no,no,male,no,not_sen,1,0.0

In [4]:
context_test

,entity_id,has_edrecs_context,edcont_academicyear,edcont_actermbirth,edcont_eal,edcont_ethnic_origin,edcont_fsm,edcont_g_t,edcont_gender,edcont_lac,edcont_sen,has_edcont,has_dental_ga
432,B1216118,1,4,1,3,3,1,1,1,1,2,1,0.0
5418,B1153428,1,3,1,3,3,1,1,2,1,3,1,0.0
721,B1135169,1,1,3,3,3,2,1,1,1,3,1,0.0
10549,B1174176,1,2,3,3,3,1,1,2,1,3,1,1.0
8913,B1153030,1,2,2,3,1,1,1,2,1,2,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8591,B1173269,1,3,1,1,2,1,1,2,1,2,1,0.0
9266,B1178052,1,3,1,1,8,1,2,1,1,2,1,0.0
1859,B1236868,1,4,2,1,8,1,1,2,1,2,1,0.0
7156,B1255975,1,5,2,1,3,1,1,2,1,2,1,0.0
11448,B1191725,1,3,2,1,8,1,1,2,1,2,1,0.0